*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


input{
    margin: 7px;
}
.box{
    border: 0.5px solid black;
    border-radius: 20px;
    width: 250px;
    height: 275px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-left: 635px;
    margin-top: 100px;
    box-shadow: -30px 20px 100px 10px hsla(306, 44%, 53%, 0.471);
    
    
}
.box input{
    border: 1px solid black;
}
::placeholder{
    padding-left: 10px;
}
button{
    width: 30px;
    height: 30px;
    margin: 5px;
    background-color: black;
    color: white;
}
@media only screen and (max-width: 767px) {
    .box {
      width: 100%; /* Make the box full width on smaller screens */
      margin: 50px auto; /* Adjust margin for better mobile placement */
    }
  }